<div class="copyright" style="position: fixed; bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <p class="copyright_text">Cloudy</a></p>
            </div>
        </div>
    </div>
</div>